* {
    font-family: Roboto, sans-serif;
}

html {
    max-width: 700px;
    margin: 10px auto;
}

:root {
    --primary-color: #0e06ac;
    --secondary-color: #34C759;
    --accent1-color: #FFC107;
    --accent2-color: #964B00;
}

h1,h2 {
    color: var(--primary-color);
    text-align: center;
}

p{
    color: black;
}

.social-media-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.social-media-links a {
    text-decoration: none;
    margin-right: 8px;
    /* border: 1px solid #000; */
}

.social-media-links a img {
    width: 20px;
}

.hero {
    position: relative;
}

.logo {
    width: 120px;
    margin-right: 0.2rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    color: var(--primary-color);
    background-color: rgb(255 255 0 / 0.7);
}

.hero article {
    background-color: rgba(0 0 0 / 0.4);
    position: absolute;
    top: 150px;
}

.hero article img {
    width: 150px;
    height: auto;
    float: right;
}

.hero p {
    color: papayawhip;
}

header {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin: 1rem auto;
    background-color: var(--accent1-color);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: var(--primary-color);
    background-color: whitesmoke;
    border: 1px solid #000;
    padding: 0.1rem 15px;
    text-decoration: none;
}

header nav a:hover {
    font-size: 1.1rem;
    color: var(--accent2-color);
    text-decoration: underline;
}

.history-section {
    display: flex;
    justify-content: space-evenly;
}


.history-section p {
    margin: 0;
}

.history-section img {
    width: 150px;
    height: auto;
    box-shadow: 0 0 30px gray;
    margin: 0 10px;
}

.history {
    border: 1px solid #000;
    margin: 10px 0;
}

.adventure-section {
    border: 1px solid #000;
    margin-bottom: 1.2rem;
}

.fig-items {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
}

figure {
    margin: 2px;
}

figure img {
    width: 100px;
    height: auto;
}

figcaption {
    font-size: smaller;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--accent1-color);
    padding: 1.2rem 0;
}

footer p {
    font-size: small;
    margin-right: 1.2rem;
    color: var(--primary-color);
}